# AzerothCore-Quellrepositories
AzerothCore/Source/
AzerothCore/Source-NPCBots/

# Build- und Installationsartefakte
AzerothCore/Build/
AzerothCore/Install/
AzerothCore/Build-NPCBots/
AzerothCore/Install-NPCBots/

# WoW-Client und große lokale Daten
Client/
Database/
Backup/

# Logs
*.log

# Visual Studio
.vs/
*.suo
*.user

# Temporäre Dateien
*.tmp